
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: absolute;
  z-index: -1;
}

.content{
  text-align: left;
  background-color:rgba(18, 18, 18, 0.499);;
  padding: 2em;
}

.right {
  float: right;
}

.content-button{
  background-color: #2d0d07c4;
  color:  white;
  width: 8em;
  padding: 0.8em 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.5rem;
  font-size: 1em;
  font-weight: bold;
  box-shadow: -0.2em 0.4em rgba(28, 2, 3, 0.593);
  transition: .3s;
}

.content-button:hover {
  background-color: rgba(10,10,10,.4);
  color: rgb(240,240,240);
  box-shadow: -0.2em 0.4em rgba(10,10,10,.4);
  margin: 0em 1.4em;
  transition: .3s;
}

.user-button{
  background-color: rgba(75,75,75,.7);
  width: 8em;
  padding: 0.8em 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.5rem;
  font-size: 1em;
  font-weight: bold;
  color: rgb(250,250,250);
  box-shadow: -0.3em 0.5em rgba(200,255,50,.8);
  transition: .3s;
}

.user-button:hover{
  background-color: rgba(200,255,50,.7);
  box-shadow: -0.3em 0.5em rgba(75,75,75,.8);
  color: rgb(10,10,10);
  margin: 0em 1.4em;
  transition: .3s;
}

.footer{
  margin-top:100em;
}

.background img{
  width: 100%;
}

footer{
  columns: 2;
  background-color: rgba(0,0,0,.5);
}

ul{
  list-style: none;
}

li{
  padding: 2rem;

}

.footer-button{
  margin-bottom: .5rem;
  padding: 1rem;
  border-radius: 2em;
  background-color: rgba(0,0,0,0);
  width: 14em;
  border-style: none;
  font-family: 'Courier New', monospace;
  font-size: 1.4em;
  font-weight: bold;
}

.left-footer{
  margin-right: 22em;
}

.footer-button:hover{
  margin-bottom: .5rem;
  padding: 1rem;
  border-radius: 2em;
  background-color: rgba(0,0,0,.05);
  width: 14em;
  border-style: none;
  transition: .2s;
}
